*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	

letter-spacing: 0.0125em;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
input
{
	
padding: 0;
margin: 0;

  outline: none;
    background-color: none;
}
header{
	background: radial-gradient(#FEFEFE,#EDEDED );
	min-height: 100px;
	width: 100%;


}
img{
	max-width: 100%;
	height: auto;
}
*{
  box-sizing: border-box;
}
body{
  margin:0;
}
h3{
	font-family: Poppins,sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0;
    color: #1d2127;
}
b, strong {
    font-weight: 700;
}
input{
	    color: #777;
    border-color: rgba(0,0,0,0.09);
}

.social{
	color: white;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
  max-width: 350px;
}.social__item{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: .1s;
  color:#00217a;
  margin-left: 10px;

}
.search{
	width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
  color:#00217a;
  margin-left: 10px;
}
.fa-envelope{
	color: #00217a;
}
.facebook{

color: #00217a;
}

.facebook:hover{
   color: white;
background: #3b5a9a;
}
.media-facebook:hover{
	transition: .1s;
	color: white;
}
.twitter{
  color: #00217a;
}
.twitter:hover{
	  color: white;
  

	background: #1aa9e1;
}
.youtube{
color: #00217a;
}
.youtube:hover{
  transition: .1s;
    background: #c3191e;
}

.media-linktwitter:hover{
	
	transition: .1s;	
	color: white;
}
/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}

.youtube:hover{
  color: white;
  background: #c3191e;
}
.linkedin:hover{
      background: #0073b2;
      color: white;
}
.media-linklinkedin:hover{
	color: white;
}


.no-scroll{
	overflow-y: hidden;
}
.menu__visible{
	display: flex !important;
}
.header__right-visible{
	display: flex;
}
.menu__hidden{
	padding-left: 50px;
	padding-top: 50px;
	display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
     background-color: #efaaaa;
    z-index: 111;
   

}

.img-div1:hover{
transform: translateY(-10px);
transition: .6s;
}
.img-div2:hover{
transform: translateY(-10px);
transition: .6s;
}
.img-div3:hover{
transform: translateY(-10px);
transition: .6s;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body{
	overflow-x: hidden;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none !important;
}
.header__adaptiv{
	display: none;

}

.nav-link:hover{
	text-decoration: none;
	color: #fce01b;
}

img{
	max-width: 100%;
}
.container{


	max-width: 1140px;
	margin: 0 auto;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items:center;
	max-width: 1140px;
	margin: 0 auto;
	min-height: 150px ;
	
}
.header__top-link{
	padding-right: 30px;
	    font-size: .8em;

    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}
.instargramm{
	width: 30px;
	height: 30px;

	background-image: url(img/instagram.png);
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
}
.instargramm:hover{
	background-image: url(img/insr.png);	
}
.header__logo{
	width: 300px;

	position: relative;
}
.header__media{
	width: 16px;
	    height: 16px;
	    background-size: contain;
	  
	    border-radius: 50%;

}

.header__media-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color:white;
}
.header__media-container:hover{
	    background-color: #00217a;
}
.header__media-search{
	width: 20px;
}
.header__bottom{
	background-color: #00217a;
	min-height: 50px;

}
nav{
	height: 100%;
	color: white;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 20px;
}
.header__nav{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
}
.nav-link{
	display: block;
	font-weight: bold;
	position: relative;
	text-decoration: none;
	color: white;
	font-weight: 600;
}
.header__bottom-inner{
	padding: 0px 60px;
}
.header__right{
	display: flex;
}
.photo{
	background-image: url('../img/sliderimg.png');
    background-repeat: no-repeat;
     widows: 100%;
    height: 100px;
    background-position: center;

margin-right: 50px;
  
}
.background{
	max-height: 450px;
}
.img-africa{
	width: 100%;height: 100%;max-width: 100%;max-height:450px;object-fit: cover;
}
.active--link{
  padding: 18px ;
	background-color: #fce01b;
	color:#00217A;
}
.active--link:hover{
	background-color: transparent;
}
.section1{
	width: 100%;
	min-height: 50vh;
    clip-path: polygon(100% 0%, 96% 0%, 64% 0%, 0% 0%, 0% 54%, 0% 27%, 0% 77%, 0% 95%, 51% 100%, 100% 95%, 100% 61%, 100% 65%, 100% 71%, 100% 25%);
	background: rgb(252, 224, 27);
}
.section__inner{
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.right__section{
	
	padding: 20px 20px;

}
.right__section-h1{
	    font-weight: 600;
    color: #4e8915;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 26px;

}
.right__section-p{
	position:relative;
	
	font-weight: 900;
    color: #00217a;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
}
.line{
	    background-color: green;
    color: green;
    width: 84px;
    margin: 0 auto;
    margin-top: 10px;
    height: 3px;
    margin-bottom: 20px;
    display: block;
    margin-left: 1px;

}
.blocks__inner{
	display: flex;
	justify-content: space-between;
	text-align: justify;
    
}
.blocks{
	margin-top: 65px;
	
	
}
.block-item{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.block__p{
	  font-weight: 900;
    color: #00217a;
    
    font-size: 20px;
    line-height: 27px;	
}
.bloc__p-silver{  
	
  font-weight: 400;
	font-size: 14px;
	color: #777777;
}
.h-bloc{
		font-weight: 600;
    color: #4e8915;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 26px;
}
.block__section-p{
	    font-weight: 900;
    color: #00217a;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;

	    font-weight: 900;
    color: #00217a;
    margin-top: 20px;
    font-family: Poppins,sans-serif;

    line-height: 27px;
    position:relative;
}
.line-2{
	display: block;
background-color: green;
    color: green;
    width: 80px;
    margin: 0 auto;
    height: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.blog__inner{
	min-height: 150px;
	text-align: center;
}
.blog-blocks{
	min-height: 300px;
}
.dragdrop {
background:red;
margin:15px;
width:100px;

}
.blog-blocks__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blog-blocks__img-item{
	max-width: 250px;
}
.blog-blocks__img-item img{
	max-width: 100%;
}
.blog-blocks__item-date{
	display: inline;
}
.blog-blocks__item{
	top:20px;  left: 0px;
}

.secondp{
	width: 40px;
	height: 35px;
	padding: 5px 5px;
	    background-color: #00217a;
	    color: white;
	text-align: center;
	
}
.blocg-block__item-p-top{
	margin-bottom: 50px;
}
.blog-blocks__item-p{
	margin-bottom: 50px;
	display: inline;
}
.blog-blocks__item-date{
margin-right: 20px;
}
.firstp{
	    color: #00217a;
	        background: #f4f4f4;
	width: 40px;
	height: 40px;

	text-align: center;
	vertical-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 5px;
	color: #00217a;


    border-radius: 2px 2px 0 0;


    font-size: 16px;
    font-weight: 500;
    font-weight: bold;

}

.button{
	    text-align: center;
	margin-top: 30px;
	min-width: 130px;
	height: 20px;
	border: 1px solid  rgba(0,0,0,0.09);
	
	padding: 10px 10px;
	    border-bottom-color: rgba(0,0,0,.2);
}
.item-blockfix{
    max-width: 74%;
	 display: flex;
	
}
.prefuter__bottom{
	display: flex;
}
.slide{
	width:200px;

}


.prefuter{
	
	background-color:  rgb(244, 244, 244);
}
.footer__inner{
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}
footer{

	min-height: 100px;
	    color: #fce01b;
	            background-color: #00227a;
}
.africa{
	text-align: center;
	position: relative;    
}
.text{
	position: absolute;
	top: 50%;
	left: 25%;
    color: rgb(252, 224, 27);
	z-index: 1111;
	    z-index: 9;
    font-family: Poppins;
    height: auto;
    width: auto;
    color: rgb(252, 224, 27);
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 16px;

}
.text2{
		position: absolute;
	top: 60%;
	left: 25%;
    color: white;
	z-index: 1111;
	    z-index: 9;
    font-family: Poppins;
    height: auto;
    width: auto;
    color: white;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 16px;
    max-width: 40%;
}
.africa::after{
	 left: 0; top: 0; 
    width: 100%; height: 100%;
    position: absolute;
    content: "";
    background:#634646;
    opacity: 0.5;
    z-index: -1111;
}


.project{
	margin-top: 50px;
	
	text-align: center;
	min-height: 650px;
	background-image: url('../img/africawork.jpg');
}

.project-h2 {font-weight: 600;
    color: #4e8915;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 26px;
}
.project-p{font-weight: 900;
    color: #00217a;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
}
.project__inner{
	margin-top: 50px;
}
.project__items{
	display: flex;
	justify-content: space-between;
}
.project-item{
	width: calc(33% - 40px);
	margin-right: 40px;
}
.line3{
	background-color: green;
	color: green;
	width: 80px;
	margin: 0 auto;
	height: 3px;
	margin-bottom: 20px;

}
.project-item__text{
	    background-color: #F5F5F5;
}
.container__special{

	max-width: 900px;
	margin: 0 auto;
}
.header__left{
	display: flex;
	flex-wrap: wrap;
}
.tel{
position:relative;

}
.mail{
	position: relative;
}
.mail::before{
	width: 16px;
	height: 16px;
	position: absolute;
	left: -25px;
	top: 2px;
}
.fa-phone-alt{
	color: #00217a;
}
.tel::before{
	width: 16px;
	height: 16px;
	position: absolute;
	left: -25px;
	top: 2px;
}



.footer__link{
	padding-left: 10px;
	color: white;
}
.page-title  { color: #ffffff;
    font-family: Poppins,sans-serif;

    font-size: 2em;
}
.contact__us{

	
	
	    border-top: 2px solid #fce01b;
	    background-color: #4e8915;
}
.links{
	padding:20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.active{
	color:#fce01b;
}
#map{
	min-height: 400px;
	width: 100%;

}
.googlemap{

	width: 100%;
	height: 400px;
	padding: 50px 150px;
}
.inputsection{
	padding: 0px 150px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;

}
.input-name{
	width: calc(50% - 50px);
	margin-right: 50px;

}
.input-p{
margin-bottom: 0.5rem;
margin-top: 30px;
}
.input-email{
min-height: 60px;
width: 50%;
}
.inputsection__left{
 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input__subject{
	width: 100%;
}
.input__sectionhalf{
	width: 100%;
margin-right: 30px;
min-height: 35px;
}
.input__sectionfull{

	width: 100%;
	min-height: 35px;
}
.link-button{
	display: block;
}
.input__sectionfull{
	width: 100%;
}
.input__messege{
	width: 100%;
}
.messege{
	min-height: 200px;

}
.inputsection__right{
	margin-left: 50px;
}
 .section__right-h3{margin-top: 50px;
 	}

.section__right-p{
	margin-top: 30px;
	margin-bottom: 5px;
}

.link-button{
	margin-top: 20px;
border-radius: 6px;
color: white;
text-align: center;
padding: 10px 10px;
    border-color: #00217a #00217a #001447;
  background-color: #00217a;
    display: inline-block;
}
.link-button:hover{
	background: #002b9e;
}
.tels{
	color: #00217a;
	padding: 0.8em;
	font-weight: 600;
  font-size: 14px;
}
.adaptivewhatsup{
	margin: 0.8em;
}
.header__adaptiv{
	margin: 0.8em;
}

.adaptivewhatsup:hover{
	background-color: transparent;
}
.social__item-adaptive{
	background-color: transparent;
}
.tel-adadptive{
	position: absolute;
	    color: #00217a;
    font-size: 1.1em;
    top: 35px;
    right: 160px;
}
.menu__hidden-2{
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	margin-top: 150px;
	margin-left: 40px;
	
}
.logofix{
align-self: flex-start;
}
.header__innerfix{
	min-height: 665px !important;

}
.twoitemsfix{
	display: flex;
	flex-wrap:wrap;
 
}
.icons_purpose{
	border-radius: 50%;
}

.maintext_slides2{
	color: #FCE01B;
	font-size: 2rem;
}
.header__nav{
	padding: 0;
	margin: 0;
}
.nav-item a {
	display: block;
	padding: 13px 0px;
	

}
.nav-item:hover > ul {
	display: block;
}
.sub-menu {
	display: none;
	position: absolute;
	list-style-type: none;
	padding: 0;
	
	background: white;
	color: #00217a;
	max-width: 247px;
	width: 100%;
	min-width: 200px;
	font-size: 13px;
	padding: 3px 0;
	
	z-index: 100;
}

.sub-menu--first {
	width: 247px;
}

.sub-menu::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -8px;
	left: 40px;
}

.sub-menu__link {
	font-size: 13px;
  font-weight: 400;
}

.sub-menu__link:not(:last-child) {
	border-bottom: 1px solid #f3f3f3;
}

.sub-menu__link a {
	padding: 8px 18px;
	
}

.sub-menu__link a:hover {
	background: #fce01b;
}

.read_more{
	
	color: #00217a;
}
.read_more:hover{
	cursor: pointer;
	text-decoration: underline;
}
.read_more_slider{
	color: #fce01b;
	font-size: 18px;
}
.text_sliders:hover{
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: #fff;
}

.video-container{
	width: 500px;
    height: 300px;
    margin: 20px 20px;
}
.video{
	width: 500px;
	height: 300px;
}
.current_p{
	color:  #F3F3F3;
	font-size: 14px;
	background-color:  #4E8915;
}

.mb-0{
	font-size: 18px;
}

.past_p{
	
	background-color: #F3F3F3;
}
.footer__link:hover {
	color: #fce01b !important;
}