
.projects {
	position: relative;
	height: 600px;
}
.bg_img{
	min-height: 600px;
	z-index: 1;
}

.bg_img img{
	position: absolute;
	top:0;
	max-height: 600px;
	z-index: 1;
}

.progect_head{
	position: absolute;
	top:0;
	z-index: 2;
}